<div class="container-fluid beta-banner">
  <p><%= t(".beta_info")%> <%= t(".issue_link")%> <%= link_to(("https://github.com/Evolix/chexpire/issues/new"), "https://github.com/Evolix/chexpire/issues/new")%>
  </p>
</div>
