$input-placeholder-color: #adb5bd;
$enable-rounded: false;
$theme-colors: (
  "primary": #259EDB,
  "secondary": #565554,
  "success": #42935C,
  "warning": #F6AE2D,
  "danger": #E94F37,
  "info": #2E86AB,
);
