<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <h1><%= t(".title") %></h1>

      <%= render "form", check: @check, new_notification: @new_notification %>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-12 col-lg-10">
      <%= button_to(t("helpers.submit.check.delete"), check_path(@check), class: "btn btn-danger", method: :delete,
            data: { confirm: t(".destroy_confirmation") }) %>
    </div>
  </div>
</div>
