<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <h1><%= t(".#{@check.kind}.title") %></h1>

      <%= render "form", check: @check %>
    </div>
  </div>
</div>
