<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<p><%= t('.greeting', recipient: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.message', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('.message', email: @resource.email) %></p>
<% end %>
