<%- if @check.comment.present? -%>
<p>
  Vous avez saisi le commentaire suivant pour ce domaine :

  <blockquote>
    <%= @check.comment -%>
  </blockquote>
</p>
<%- end -%>

<%- if @check.vendor.present? -%>
Fournisseur : <%= @check.vendor %>
<% end %>
