<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<%- if check.comment.present? -%>
<p>
  Vous avez saisi le commentaire suivant pour ce domaine :

  <blockquote>
    <%= check.comment -%>
  </blockquote>
</p>
<%- end -%>

<%- if check.vendor.present? -%>
Fournisseur : <%= check.vendor %>
<% end %>
