<%- if @check.comment.present? -%>
<p>
  You wrote the following comment with this domain:

  <blockquote>
    <%= @check.comment -%>
  </blockquote>
</p>
<%- end -%>

<%- if @check.vendor.present? -%>
Vendor: <%= @check.vendor %>
<% end %>
