<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Jeremy Lecour <jlecour@evolix.fr>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<br />
--

<p>You can handle all your checks by following this link:<br />
<%= link_to nil, checks_url %>
</p>

<p>The Chexpire Team</p>
