<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Jeremy Lecour <jlecour@evolix.fr>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<br />
<br />
--

<p>
  You received this email because of the notification <%= interval %> days before the expiry date.<br />
  You can handle the notifications for this check by following this link:<br />
  <%= link_to nil, edit_check_url(check) %>
</p>

<p>The Chexpire Team</p>
