<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Jeremy Lecour <jlecour@evolix.fr>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<br />
<br />
--

<p>
  Vous avez reçu ce courriel à <%= pluralize(interval, "jour", "jours") %> avant la date d'expiration.</br>
  Vous pouvez gérer les notifications pour cette vérification à ce adresse :
  <%= link_to nil, edit_check_url(check) %>
</p>

<p>L'équipe Chexpire</p>
