<br />
<br />
--

<p>You received this email because of the notification <%= interval %> days before
the last known expiry date.<br />
You can handle the check by following this link: <br />
<%= link_to nil, edit_check_url(check) %>
</p>

<p>The Chexpire Team</p>
