<p>
  Hi,
  <br />
  <br />
  the domain <strong><%= @check.domain %></strong> will expire
  <strong><%= format_utc(@check.domain_expires_at) %></strong>.
</p>
<br />

<%= render "check_comment_vendor", check: @check %>

<%= render "footer_expires_soon", interval: @notification.interval, check: @check %>
