<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Jeremy Lecour <jlecour@evolix.fr>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<p>
  Salut,
  <br />
  <br />
  le domaine <strong><%= @check.domain %></strong> va expirer le
  <strong><%= format_utc(@check.domain_expires_at) %></strong>.
</p>
<br />

<%= render "check_comment_vendor", check: @check %>

<%= render "footer_expires_soon", interval: @notification.interval, check: @check %>
