<p>
  Salut,
  <br />
  <br />
  le certificat SSL pour <strong><%= @check.domain %></strong> va expirer le
  <strong><%= format_utc(@check.domain_expires_at) %></strong>.
</p>
<br />

<%= render "check_comment_vendor" %>

<%= render "footer_expires_soon", interval: @notification.interval, check: @check %>
